*{
    margin: 0px;
    padding: 0px;
}
.container {
    margin: 0px 440px;
    background: linear-gradient(to bottom left ,#e5e5e5e1,rgb(254 254 254));
    overflow: hidden;
    background-attachment: fixed;
    text-align: center;
}

h1 {
    padding-top: 10px;
    font-size: 70px;
    letter-spacing: -1px;
    font-family: 'Economica', sans-serif;
    line-height: 55px;
}

#Secondline {
    display: inline-block;
    letter-spacing: 3px;
    padding-bottom: 20px;
    border-bottom: 5px solid blue;
}

h2 {
    font-family: 'Karma', serif;
    font-size: 25px;
    text-align: center;
    color: grey;
    padding: 20px 0px 30px 0px;
}

img {
    padding: 25px 0px 10px 0px;
    margin: 0 auto;
}